.main {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;



  .container {
    display: flex;
    padding: 10rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .textDivider {
      display: flex;
      flex-direction: row;
      gap: 1rem;
      padding: 2rem;
      margin-top: 10rem;
      margin-bottom: 10rem;

      .dividerText {
        color: var(--font-color, #FFF);
        text-align: center;
        font-family: Helvetica;
        font-size: 0.875rem;
        font-style: normal;
        font-weight: 400;
        line-height: 1.39375rem;
        /* 159.286% */
      }
    }


  }

  .ElipseOne {
    position: absolute;
    top: 0;
    right: 0;
    pointer-events: none;


  }

  .ElipseTwo {
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 15rem;

  }



}